module postgresql19_sshd_fix 1.0;

require {
	type sshd_session_t;
	type postgresql_db_t;
	class dir { search getattr };
	class file { open read getattr };
}

# EL-10's split-out sshd_session_t domain does not get search/read access to
# postgresql_db_t (the label of the postgres user's home dir, /var/lib/pgsql)
# the way the older combined sshd_t domain did, which breaks SSH pubkey auth
# via ~/.ssh/authorized_keys. See:
# https://github.com/pgdg-packaging/pgdg-rpms/issues/229
allow sshd_session_t postgresql_db_t:dir { search getattr };
allow sshd_session_t postgresql_db_t:file { open read getattr };
