#!/usr/bin/bash

#################################################
#						#
# Per-host configuration for global.sh		#
#						#
# Copy this file to ~/bin/global-local.sh on	#
# this build instance and edit the values	#
# below to match this host. global.sh sources	#
# it automatically.				#
#						#
# This file is intentionally NOT touched when	#
# global.sh gets redeployed/updated -- keep it	#
# out of whatever mechanism pushes global.sh	#
# out to the build instances (e.g. .gitignore	#
# it, or exclude it from the deploy rsync).	#
#						#
#################################################

# OS Configuration
export osmajorversion=10			# Major version: 10, 9, 15, 43, 2023
export os="rhel-${osmajorversion}"		# rhel, sles, leap, fedora, amzn
export osminversion=1				# Will be used to support multiple OS minor versions like SLES 15.7, RHEL 10.1
						# Leave empty ("") for OSes with no minor version: Fedora, Amazon Linux
export osislatest=0				# Is this the latest minor version of the OS or not? 1 or 0
						# CAUTION: Set this to 1 *only if* the OS is the latest stable minor version.
export osarch=x86_64				# x86_64, aarch64, ppc64le
export osdistro=redhat				# fedora, redhat, suse, opensuse, amzn
export git_os="EL-${osmajorversion}"		# EL-9, F-43, SLES-15, AL-2023
export extrasrepoenabled=1			# 1 or 0. Currently for RHEL, SLES, OpenSuSE, and Amazon Linux.

# Example: Amazon Linux 2023, x86_64 (aarch64 hosts just set osarch=aarch64)
# export osmajorversion=2023
# export os="amzn-${osmajorversion}"
# export osminversion=""
# export osislatest=0
# export osarch=x86_64
# export osdistro=amzn
# export git_os="AL-${osmajorversion}"
# export extrasrepoenabled=1

# GPG Configuration
export GPG_PASSWORD=foobar			# Passphrase used for repomd.xml signing (gpg2 --passphrase-fd)
export GPG_KEY_ID=""				# Set this to this host's signing key ID, if it differs from the default

# CloudFront Configuration
export CF_DEBUG_DISTRO_ID=XXXXXXXXXXXXXXXXXX
export CF_SRPM_DISTRO_ID=XXXXXXXXXXXXXXXXXX
